
@{ 
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap hero-bread" style="background-image: url('/Content/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index", "Home")">OrganicFoods</a></span></p>
                <h1 class="mb-0 bread">Sobre nós</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/Content/images/about.jpg);">
                <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">Bem vindos(as)!</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>
                        Com objetivo de otimizar a compra e venda de produtos orgânicos,
                        esse site foi criado por uma aluna da Fatec - Ourinhos com intuito
                        de defender o Trabalho de Graduação.
                    </p>
                    <p>
                        Visto que houve um aumento na procura por produtos orgânicos em razão
                        de qualidade de vida e saúde e, consequentemente, o crescimento do mercado,
                        desenvolver uma plataforma para gerenciar a compra e venda on-line de produtos
                        orgânicos traz facilidade e agilidade para o processo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
