@model List<TGOrganicos.Data.Pedido>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>Data</th>
                                <th>Itens</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pedido in Model)
                            {
                                <tr class="text-center">
                                    <td class="product-remove">
                                        <a href="@Url.Action("Detalhe", "Pedido", new { id = pedido.Id})" title="Visualizar"><span class="ion-ios-eye"></span></a>
                                    </td>
                                    <td class="product-name">@pedido.DataPedido.Value.ToString("dd/MM/yyyy")</td>
                                    <td class="qtd">@pedido.QuantidadeItens</td>
                                    <td class="">@pedido.ValorPedido.Value.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts{
    <script>


        $(document).ready(function () {


        });



    </script>


} 