
@{ 
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap hero-bread" style="background: linear-gradient(rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(/Content/images/image_6.jpg);">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index", "Home")">OrganicFoods</a></span></p>
                <h1 class="mb-0 bread">Sua avaliação foi enviada com sucesso!</h1>
            </div>
        </div>
    </div>
</div>
